
<div class="row">
    <div class="col-12">
        <h1 class="text-center mt-3 mb-5">Cinema</h1>
            <!-- For reference, old method-->
            <!-- <div class="input-group input-group-lg">
                <input 
                    placeholder="Cerca un film"
                    id="query"
                    type="text"
                    class="form-control" 
                    aria-label="Large" 
                    aria-describedby="inputGroup-sizing-sm"
                    [(ngModel)]="query"
                    (keyup.enter)="getMovieSearchResult()"
                >
            </div>   -->
                <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" class="input-group input-group-lg">
                  <input 
                      [placeholder]="'Cerca un film'"
                      id="form.c"
                      type="text"  
                      class="form-control"
                      aria-label="Large"
                      aria-describedby="inputGroup-sizing-sm"
                      formControlName="input"
                    >
                 </form>
            <div class="row">
                
                <app-movie-tab
                  *ngFor="let movie of movies | async"
                  [movie]="movie"
                  class="col-4 mb-3"
                ></app-movie-tab> 
            
            </div>
     </div>   
</div>

