/* You can add global styles to this file, and also import other style files */

body {
    background-color: #ecf0f1;
}

img.crop {
    width: 348px;
    height: 220px;
    object-fit: cover;
    object-position: 0% 0%;
}

.input-group {
    height: auto;
  }

  

  /* input.ng-invalid.ng-touched 
    border: 1px solid red;
    width: 100%;
    padding: .5rem;
    /* box-sizing: border-box; */

